Package: memcldj
Version: 1.1.0
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin.czygan@gmail.com>
Description: Load/Set JSON from LDJ files into memcache.
